REACT_APP_API_BASE=your-api-base-url
VITE_FARO_URL=your-collector-url
VITE_FARO_APP_NAME=your-app-name
VITE_FARO_API_ENDPOINT=your-faro-api-endpoint
VITE_FARO_APP_ID=your-faro-app-id
VITE_FARO_STACK_ID=your-faro-stack-id
VITE_FARO_API_KEY=your-api-key
