@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.slide-in {
    animation: slideIn 300ms forwards;
}

.slide-out {
    animation: slideOut 200ms forwards;
}