.flashcard {
  width: 100%;
  max-width: 600px;
  min-width: 450px;
  height: 100%;
  min-height: 500px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  perspective: 1000px;
  background: transparent !important;
}

.flashcard-content {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.flashcard-content.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 0 !important;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
}

.flashcard-front {
  transform: rotateY(0deg);
}

.flashcard-back {
  transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .flashcard {
    max-width: 100vw;
    min-width: 90vw;
    min-height: 400px;
    max-height: 500px;
    margin-bottom: 0.1em;
  }

  .flashcard-front,
  .flashcard-back {
    height: 100%;
  }
}
